* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
}

:root {
    --bg-color: #7DC9AF;
    /* --bg-color: #3BA66B; */
}

main {
    padding: 0 140px;
}

hr{
    border: #e6e6e6 0.5px solid;
}

a {
    text-decoration: none;
    color: #000;

}


/* <!-- HEADER --> */
.header {
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    height: 80px;
    font-size: 20px;
    padding: 0 140px;
}

.logo {
    flex: 1;
}

.logo img {
    width: 64px;
}

.navbar {
    flex: 2;
    display: flex;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 0 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.search-button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 30px;
    background: white;
    padding-right: 20px;
}

.search-button i {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.search-button input {
    border: none;
    outline: none;
    margin-left: 20px;
    font-size: large;
}

.nav-action i {
    margin: 15px;
    cursor: pointer;
}


/* -----SECTION----- */
section h3 {
    margin-left: 140px;
    padding: 10px 0;
    text-transform: capitalize;
}

section hr {
    margin-bottom: 10px;
}


/* ----- LINK ----- */
.link {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.link a {
    color: #000;
    font-weight: 400;
}

.link span {
    color: var(--bg-color);
}

/* ----- Main ----- */
.name h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #212121;
}

.name hr {
    margin-bottom: 20px;
}

.content {
    display: flex;
}

#image img {
    border-radius: 10px;
    max-width: 480px;
    max-height: 480px;
}

.small-image{
    display: flex;
    justify-content: space-between;
    width: 480px;
    margin-top: 10px;
}

.small-image img{
    width: 150px;
    height: 150px;
}

.describe {
    margin-left: 30px;
}

.describe hr {
    margin-bottom: 20px;
}

.describe li {
    margin-bottom: 15px;
    list-style-type: none;
    font-size: 14px;
    color: #363f4d;
}

.old-price {
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 10px;
}

.left-price {
    margin-right: 50px;
    color: #000;
}

.highlight {
    color: var(--bg-color);
    font-size: 14px;
}

.price h3 {
    font-size: 14px;
    font-weight: 400;
}

.buy {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity input {
    width: 40px;
    height: 50px;
    text-align: center;
    border: none;
    padding: 5px;
}

.quantity .btn {
    cursor: pointer;
    padding: 5px;
    background: white;
    border: 1px solid #ebebeb;
    width: 40px;
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
}

.btn:hover {
    background: var(--bg-color);
    color: white;
}

.buy-now {
    margin-left: 100px;
    height: 50px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    background: var(--bg-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.h3{
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    display: flex;
    align-items: center;
}

.h3 img{
    height: 40px;
    margin: 0 10px;
}

.hr{
    border: 1px var(--bg-color) dashed;
}

/* ----FOOTER---- */
footer{
    margin-top: 20px;
}

.footer-top {
    /* background: rgb(238, 238, 238); */
    background: #F6F5F2;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 20px 140px;
}

.footer-title {
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0;
}

li {
    list-style-type: none;
}

.padding-5-0 {
    padding: 5px 0;
}

.icon-contact {
    padding-right: 5px;
    color: var(--bg-color);
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

tr {
    text-align: left;
}

.table-head {
    padding-right: 10px;
}

.ask {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-end;
}

.newsletter-input {
    padding: 10px;
    width: 250px;
}

.btn {
    padding: 10px;
    background: aquamarine;
    border: solid 1px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px;
    background: #000;
}

.copyright-link{
    color: var(--bg-color);
}
