* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
}

:root {
    --bg-color: #7DC9AF;
    /* --bg-color: #3BA66B; */
}

main {
    padding: 0 140px;
}

hr{
    border: #e6e6e6 0.5px solid;
}

a {
    text-decoration: none;
    color: #000;

}


/* <!-- HEADER --> */
.header {
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    height: 80px;
    font-size: 20px;
    padding: 0 140px;
}

.logo {
    flex: 1;
}

.logo img {
    width: 64px;
}

.navbar {
    flex: 2;
    display: flex;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 0 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.search-button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 30px;
    background: white;
    padding-right: 20px;
}

.search-button i {
    position: absolute;
    right: 20px;
    cursor: pointer;
}



.search-button input {
    border: none;
    outline: none;
    margin-left: 20px;
    font-size: large;
}

.nav-action i {
    margin: 15px;
    cursor: pointer;
}


/* -----SECTION----- */
section h3{
    margin-left: 140px;
    padding: 10px 0;
    text-transform: capitalize;
}

section hr{
    margin-bottom: 20px;
}


/* ----- LINK ----- */
.link{
    margin-top: 10px;
}

.link a{
    color: #000;
    font-weight: 400;
}

.link {
    font-weight: 500;
}


/* ----- SIDEBAR ----- */
main{
    display: flex;
}

.category{
    background: white;
    width: 280px;
    border-radius: 10px;
}

.title-category {
    background: var(--bg-color);
    padding: 10px 20px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    padding: 10px;
}

.category a{
    text-transform: capitalize;
}

.page{
    color: var(--bg-color);
}

.sidebar-filter{
    margin-top: 20px;
    width: 270px;
    border: #e6e6e6 dashed;
    padding: 4px;
}

.sidebar-filter h3{
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
}

.title-filter h3{
    padding: 10px 10px 0 10px;
}

.hr{
    border: #e6e6e6 1px dashed;
}

label{
    color: #6f6f6f;
}

.filter{
    margin-bottom: 20px;
}

/* ------ PRODUCT-LIST ----- */
.product{
    padding-left: 20px;
    width: 100%;
}

.product h2{
    font-size: 20px;
    padding-bottom: 10px;
}

.sort{
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.sort h4{
    font-weight: 500;
}
.sort a{
    padding: 10px;
}

.sort i{
    margin-right: 5px;
}

#product-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    margin-top: 20px;
}

.product-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: #dbdcde solid 1px;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}

.product-card img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.image-product{
    position: relative;
}

/* Thêm transition cho .actions để tạo hiệu ứng di chuyển */
.actions {
    position: absolute;
    border-radius: 50px;
    background-color: white;
    bottom: 0;
    right: -100%; /* Ban đầu ẩn phần tử bên phải ngoài màn hình */
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    transition: right 0.5s ease-in-out; /* Áp dụng hiệu ứng transition cho thuộc tính right */
}

/* Khi hover vào .image-product, thay đổi vị trí sang phải (0%) */
.image-product:hover .actions {
    right: 0%;
}

/* Thêm transition cho các nút trong .actions để tạo hiệu ứng khi hover vào */
.actions button {
    display: block;
    font-size: 20px;
    width: 35px;
    height: 35px;
    background: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out; 
}

/* Khi hover vào các nút trong .actions, thay đổi màu nền */
.actions button:hover {
    background-color: var(--bg-color);
}

.favorite{
    margin: 7px 7px 3.5px 7px;
}

.cart{
    margin: 3.5px 7px 7px 7px;
}

.card-title {
    padding: 10px;
    font-size: 14px;
}

.product-card h4 {
    margin-bottom: 20px;
    color: #eb3e32;
}

.card-title a:hover {
    color: var(--bg-color);
}

.card-title a {
    color: #11151D;
    text-align: center;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 180px;
}

/* ----- PAGINATION ----- */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.page-number {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 0 5px;
    color: #333;
    font-weight: bold;
}

.active{
    background: var(--bg-color);
}

.page-number:hover {
    background-color: #333;
    color: #fff;
}


/* ----FOOTER---- */
footer{
    margin-top: 20px;
}

.footer-top {
    /* background: rgb(238, 238, 238); */
    background: #F6F5F2;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 20px 140px;
}

.footer-title {
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0;
}

li {
    list-style-type: none;
}

.padding-5-0 {
    padding: 5px 0;
}

.icon-contact {
    padding-right: 5px;
    color: var(--bg-color);
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

tr {
    text-align: left;
}

.table-head {
    padding-right: 10px;
}

.ask {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-end;
}

.newsletter-input {
    padding: 10px;
    width: 250px;
}

.btn {
    padding: 10px;
    background: aquamarine;
    border: solid 1px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px;
    background: #000;
}

.copyright-link{
    color: var(--bg-color);
}
