* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #7DC9AF
}

body {
    /* background-image: url(../image/background.jpeg); */
    background-image: url(https://png.pngtree.com/background/20230614/original/pngtree-terrarium-filled-with-plants-and-greenery-picture-image_3478016.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 20px;
    box-shadow: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

h2 {
    text-transform: uppercase;
    padding: 40px 0 10px 0;
}

.input {
    display: flex;
    flex-direction: column;
}

.input input {
    width: 450px;
    margin: 10px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 15px;
}

input::placeholder {
    font-size: 16px;
}

.pass h3{
    color: white;
}

button {
    text-transform: uppercase;
    width: 465px;
    border-radius: 10px;
    height: 50px;
    border: none;
    margin: 15px 0;
    font-weight: 800;
    font-size: 16px;
    background: var(--bg-color);
    color: white;
}

span{
    color: white;
    margin-bottom: 40px;
}

a{
    color: crimson;
    text-decoration: none;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-left: 10px;
}